
btn {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #FFFFFF; /* Agrega un borde de 1 píxel de ancho y color gris */
}

.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 400px;
  background-color: #b5d1d8;
  font-family: Arial, sans-serif;
  align-content: center;
  border-radius: 20px;
  margin-top: 10%;
  margin-left: 37%;
  margin-right: 40%;
  border: 1px solid #2b5a71;
  box-shadow: 0 6px 8px #232121;
}

h1 {
  text-align: center;
}

.display {
  width: 325px;
  margin-bottom: 20px;
  display: flex;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: right;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 5px #7b4242;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn-light {
  background-color: #4a6060;
  color: #fff;
}

.btn-info {
  background-color: #4a6060;
  color: #383333;
}

.btn-success {
  background-color: #99b7cc;
  color: #232121;
}

.btn-danger {
  background-color: #2b5a71;
  color: #fff;
  
}

#canselar{
  width: 215%;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}